{% extends "layout.html" %}

{% block title %}
    Register for Book Reviews
{% endblock %}

{% block body %}
    <header id="register">
        <h1>
            Register to Write Your own Book Reviews
        </h1>
    </header>

    <div class="d-flex justify-content-center align-items-center margined">
        <form action="{{ url_for('register') }}" method="post", class="login-register">
            <div class="form-group">
                <input class="form-control" name="username" placeholder="Username">
            </div>

            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password">
            </div>

            <div class="form-group">
                <input class="form-control" name="password-confirm" placeholder="Confirm Password">
            </div>

            <div class="form-group d-flex justify-content-center align-items-center">
                <button class="btn btn-primary">Book Flight</button>
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-center align-items-center">
            <a class="btn btn-primary" href="{{ url_for('login') }}">Already have an account? Login Here!</a>
    </div>
{% endblock %}
